.basex
.basexgui
.basexhistory
.idea/
/data/
/doc/
/memo_cmd.md
/webapp/restxq/home.xqm
/webapp/restxq/iiif.xqm
/webapp/restxq/ladam_test.xqm
/webapp/static/img/
/webapp/static/transform/
/tests/project_create/dots_test_setup.old
/webapp/restxq/schema.xqm
/webapp/restxq/xsl.xqm